<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../app.css">
    <title>Carousel / Media Gallery</title>
</head>
<body>

    <div class="slider-container">
        <button id="back-btn" class="slider-btn">BACK</button>
        <button id="next-btn" class="slider-btn">NEXT</button>
        <div class="slider">
            <div class="slider-element">
                <img src="../img/test.png">
                <p>ONE</p>
            </div>
            <div class="slider-element">
                <img src="../img/two.png">
                <p>two</p>
            </div>
            <div class="slider-element">
                <img src="../img/three.png">
                <p>three</p>
            </div>
            <div class="slider-element">
                <img src="../img/four.png">
                <p>four</p>
            </div>
            <div class="slider-element">
                <img src="../img/test.png">
                <p>five</p>
            </div>
        </div>
    </div>
</body>
<script src="../carousel.js" defer></script>
</html>