

<div className="controls-section">
    <div></div>
    <kbd className='arrowUp'>↑</kbd>
    <div></div>
    <kbd className='arrowLeft'>←</kbd>
    <kbd className='arrowDown'>↓</kbd>
    <kbd className='arrowRight'>→</kbd>
</div>

<div className="controls-section">
    <div>Movement</div>
</div>

<div className="controls-section">
    <div></div>
    <kbd className='keyW'>W</kbd>
    <div></div>
    <kbd className='keyA'>A</kbd>
    <kbd className='keyS'>S</kbd>
    <kbd className='keyD'>D</kbd>
</div>
